body { font-family: 'Raleway', sans-serif;
    margin: 0;
}

a { text-decoration: none;
    color: inherit;
}

/*HEADER NAVBAR*/
.header {
    align-items: center;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . navbar signup"
}

.navbar {
    display: flex;
    grid-area: navbar;
}

.logo {
    grid-area: logo;
}

.navlink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.3s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.navlink[data-active=true]{
    color: #0065FC;
    border-top: 3px solid #0065FC;
  }
.navlink:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC
}

.signup {
    color: #0065FC;
    font-weight: bold;
    grid-area: signup;
    padding: 2rem;
}
/*HEADER NAVBAR*/


/*SEARCH BAR*/
.main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.title-h1 {
    margin-top: 1rem;
}

.research-box {
    display: inline-flex;
    flex-direction: row;
}

.fa-map-marker-alt {
        background-color: #F2F2F2;
        padding: 1rem 1.25rem;
        border-radius: 1rem 0 0 1rem;
        text-align: center;
}

.searchinput {
    padding: 1rem 0rem 1rem 1rem;
    height: 1rem;
    width: 13.5rem;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    text-align: left;
}

.searchinput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.button-research {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

.title-h3 {
    display: inline;
}

.filter-ul {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 1rem;   
}

.filter-button {
    display: inline;
    margin-left: 1.563rem;
    font-weight: 700;
    border: 0.125rem #e2e2e2 solid;
    padding: 0 1.25rem 0 0;
    margin-top: 0.625rem;
    border-radius: 200px;
}

.icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 1.3rem;
    border-radius: 32px;
    margin-right: 0.938rem;
}

.filter-button:hover{
    transform: scale(1.05);
    background-color: #F2F2F2;
    cursor: pointer;
}

.fa-info {
    color: #0065fc;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: solid 1px #D9D9D9;
    border-radius: 16px;
    margin-right: 1.3rem;
}

.info p {
    display: inline;
}

/*SEARCH BAR*/



/* Partie hébergement */


    /*IMAGES*/
.acco-img img {
    width: 100%;
    height: 7rem;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.acco-img {
    width: 16rem;
    height: 6.25rem;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}

.pop-room img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.pop-room {
    width: 6.25rem;
    height: 9.375rem;
    min-width: 130px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}
    /*IMAGES*/


    /*Etoiles*/
.stars {
    display: flex;
}

.fullstar {
    color: #0065FC;
}

.emptystar {
    color: #D9D9D9;
}
    /*Etoiles*/


    /*Accomodations Bloc*/
.blocs-hébergements {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    column-gap: 30px;
    margin: 40px 0 60px 0;   
}


.bloc-accomodations {
    background: #F2F2F2;
    border-radius: 25px;
    
}

.bloc1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 1.3rem;
    
}

.title-h2-bloc1 {
    display: block;
    width: 100%;
    padding-left: 30px;
    padding-top: 15px;
}

.accomodations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.7rem;
    padding: 0 0 0 0;
}

.acco {
    background: white;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;   
    border-radius: 20px;
    border: 0.5em solid transparent;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.acco:hover {
    transform: scale(1.03);
}

.title-h3-bloc1 {
    display: block;
    width: 100%;
    margin-left: 3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
}

.bloc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-bloc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 0.6rem;
    height: 90%;
    width: 90%;
}

#pop-chambre1 {
    margin-top: 1.8rem;
}

#pop-chambre2 {
    margin-top: 1.8rem;
}

#pop-chambre3 {
    margin-top: 1.8rem;
}

.title-h2-bloc2 h2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}


.pop-acc {
    display: flex;
    margin: 1rem;
    background-color: white;
    border-radius: 17px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0px 0px 0.5rem 0rem #0000002e;
    margin-right: 1rem;
}

.pop-acc:hover {
    transform: scale(1.03);
}

.pop-acc .text {
    margin-left: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem 3rem 0.3rem 0.5rem;
}

.pop-acc .text .title-acco {
    padding: 0rem 0;
    margin: 0;
}

.pop-acc .text .bloc-price {
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.price {
    font-weight: bold;
}

    /*Accomodations Bloc*/


/*Partie Hébergement*/


/*Partie Activités*/


.activities {
    height: 34rem;
    margin-bottom: 6.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 1.875rem;
    grid-template-areas:
    "act-1 act-2 act-4 act-5"
    "act-1 act-2 act-4 act-5"
    "act-1 act-2 act-4 act-6"
    "act-1 act-2 act-4 act-6"
    "act-1 act-3 act-4 act-6"
    "act-1 act-3 act-4 act-6"
    ;
}

.act-bloc {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px; 
}

.activity {
    height: 100%;
    margin: 0;
}

.act-bloc:hover{
    transform: scale(1.03);
}

.act-bloc img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.title-acti {
    position: absolute;
    width: 95%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 1.25rem 0 1.25rem 1.07rem;
    margin: 0;
    bottom: 0;
}

#act-1 {
    grid-area: act-1;
}

#act-2 {
    grid-area: act-2;
}

#act-3 {
    grid-area: act-3;
}

#act-4 {
    grid-area: act-4;
}

#act-5 {
    grid-area: act-5;
}

#act-6 {
    grid-area: act-6;
}


/*Partie Activités*/


    /*FOOTER*/

.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-légal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.footer-bloc {
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
}

.h3-footer {
    margin-bottom: 1rem;
}

.footer-link {
    margin-bottom: 0.6rem;
}

.footer-bloc-assistance {
    margin-right: 22%;
}

@media (max-device-width: 480px) {
    
    .header {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "logo signup"
        "navbar navbar";
    }
    
    .signup {
        display: flex;
        justify-content: flex-end;
    }

    .navlink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
    }

    .navlink[data-active=true]{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .navlink:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .blocs-hébergements {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "mobile1"
        "mobile2";
    }

    .bloc2 {
        grid-area: mobile1;
    }

    .bloc1 {
        grid-area: mobile2;
        background: white;
    }

    .accomodations {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(6, 1fr) ;
    }

    .activities {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "act-1"
        "act-2"
        "act-3"
        "act-4"
        "act-5"
        "act-6";
    }
}
    

    
    
    

    