html {
    scroll-behavior: smooth;
  }
  
body { font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 100%;
}

a { text-decoration: none;
    color: inherit;
}

/*HEADER NAVBAR*/

.header {
    max-width: 1440px;
    width: 98%;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . navbar signup"
}

.navbar {
    display: flex;
    grid-area: navbar;
}

.logo {
    grid-area: logo;
    
}

.navlink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.3s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.navlink:hover[data-active=true]{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.navlink:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC
}

.signup {
    color: #0065FC;
    font-weight: bold;
    grid-area: signup;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

/*HEADER NAVBAR*/


/*SEARCH BAR*/
.main {
    max-width: 1440px;
    width: 98%;
    margin: auto;
}

.title-h1 {
    font-size: 1.5rem;
    margin: auto;
}

.subtitle {
    margin: 1rem, 0rem;
}

.research-box {
    display: inline-flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 16px 0 0 16px;
    justify-content: center;
    align-items: center;
}

.searchinput {
    padding: 1rem 0rem 1rem 1rem;
    height: 1rem;
    width: 13.5rem;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    text-align: left;
}

.searchinput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.button-research {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 16px 16px 0;
    padding: 1rem 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

#icon-research {
    display: none;
}

.title-h3 {
    display: inline;
}

.filter-ul {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0rem;   
}

.filter-button {
    display: inline;
    margin-left: 1.5rem;
    font-weight: 700;
    border: 2px #e2e2e2 solid;
    padding: 0 1.25rem 0 0;
    margin-top: 0.625rem;
    border-radius: 200px;
}

.icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 1.3rem;
    border-radius: 32px;
    margin-right: 0.938rem;
}

.filter-button:hover{
    transform: scale(1.05);
    background-color: #F2F2F2;
    cursor: pointer;
}

.info {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.fa-info {
    height: 1rem;
    width: 1rem;
    color: #0065fc;
    padding: 0.35rem 0.4rem 0.35rem 0.3rem;
    border: solid 1px #D9D9D9;
    border-radius: 16px;
    margin-right: 0.8rem;
    text-align: center;
}

.info p {
    display: inline;
}

/*SEARCH BAR*/



/* Partie hébergement */


    /*IMAGES*/

.acco-img img {
    width: 100%;
    height: 7rem;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.acco-img {
    width: 16rem;
    height: 6.25rem;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}

.pop-room img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.pop-room {
    width: 6.25rem;
    height: 9.375rem;
    min-width: 8rem;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}

    /*IMAGES*/


    /*Etoiles*/

.stars {
    display: flex;
}

.fullstar {
    color: #0065FC;
}

.emptystar {
    color: #D9D9D9;
}

    /*Etoiles*/



    /*Accomodations Bloc*/
.blocs-hébergements {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    column-gap: 30px;
    margin: 2.5rem 0 3.75rem 0;
}

.bloc-accomodations {
    background: #F2F2F2;
    border-radius: 25px;
    
}

.bloc1 {
    display: flex; 
    flex-direction: column;
    padding: 1.25rem 2.5rem ;
}

.accomodations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.75rem;
    padding-top: 0.75rem;
}

.acco {
    background: white;
    display: flex;
    flex-direction: column;   
    border-radius: 20px;
    border: 0.5em solid transparent;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.acco .text {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}

.acco .text .bloc-price {
    margin-top: -0.75rem;
}

.acco:hover {
    transform: scale(1.03);
}

.title-h3-bloc1 {
    
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 1rem;
}

.bloc2 {
    display: flex;
    justify-content: center;
    padding: 1.25rem 2.5rem 0 2.5rem;
    
}

.popular-bloc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 0rem;
    
}

.title-h2-bloc2 h2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.pop-acc {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: 17px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0px 0px 0.5rem 0rem #0000002e;
}


.pop-acc:hover {
    transform: scale(1.03);
}


.pop-acc .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-left: 1rem;
    
}

.pop-acc .text .title-acco {
    margin: 0.5rem 2.25rem 0 0;
}

.pop-acc .text .bloc-price {
    margin: 0 0 2rem 0;
}

.pop-acc .text .stars {
    margin: 0 0 0.5rem 0;
}

.price {
    font-weight: bold;
}

    /*Accomodations Bloc*/


/*Partie Hébergement*/




/*Partie Activités*/


.activities {
    height: 34rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 1.875rem;
    grid-template-areas:
    "act-1 act-2 act-4 act-5"
    "act-1 act-2 act-4 act-5"
    "act-1 act-2 act-4 act-6"
    "act-1 act-2 act-4 act-6"
    "act-1 act-3 act-4 act-6"
    "act-1 act-3 act-4 act-6"
    ;
}

.act-bloc {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px; 
}

.activity {
    height: 100%;
    margin: 0;
}

.act-bloc:hover{
    transform: scale(1.03);
}

.act-bloc img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.title-acti {
    position: absolute;
    width: 95.3%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 1.25rem 0 1.25rem 4.9%;
    margin: 0;
    bottom: 0;
}

#act-1 {
    grid-area: act-1;
}

#act-2 {
    grid-area: act-2;
}

#act-3 {
    grid-area: act-3;
}

#act-4 {
    grid-area: act-4;
}

#act-5 {
    grid-area: act-5;
}

#act-6 {
    grid-area: act-6;
}


/*Partie Activités*/


    /*FOOTER*/

.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-légal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.footer-bloc {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-right: 2rem;
}

.h3-footer {
    margin-bottom: 1rem;
}

.footer-link {
    margin-bottom: 0.6rem;
}

.footer-bloc-assistance {
    margin-right: 23%;
}

    /*FOOTER*/



/*MEDIA QUERIES*/

@media screen and (min-width:980px) and (max-width:1440px) {

    
    .pop-accomodations {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    .acco .text {
        margin-top: -0.75rem;
    }
    
    
    .pop-acc .text .title-acco {
        margin: 0;
    }
    
    .pop-acc .text .bloc-price {
        margin: 0;
    }
    
    .pop-acc .text .stars {
        margin: 0;
    }
}


@media screen and (max-width:1440px) {

    .blocs-hébergements {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "mobile1"
        "mobile2";
    }
    
    
    .bloc2 {
        grid-area: mobile1;
        border-radius: 25px;
    }


    .bloc1 {
        margin-top: 2rem;
        grid-area: mobile2;
        border-radius: 25px;
    }

    .acco-img {
        width: 100%;
        height: auto; 
    }

    .menu-légal {
        padding-left: 1rem;
    }
}


@media screen and (max-width: 980px) {
   
    .title-h1 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 2rem
    }

    
    .research-box {
        margin: 0rem 2rem 2rem 1rem;    
    }

    
    .fa-search {
        margin-left: -0.4rem;
    }

    .title-h3 {
        margin-left: 1.1rem;
    }

    .info {
        margin-left: 1.1rem;
    }

    
    .title-h2-bloc2 h2 {
        padding: 0;
    }

    
    .title-h2-bloc1 {
        padding: 0;
    }

    
    .accomodations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }

    .acco {
        margin: auto;
    }

    .acco .text {
        margin-top: -0.75rem;
    }
    
    .popular-bloc {
        width: 100%;
    }

    
    .activities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "act-1 act-2"
        "act-3 act-4"
        "act-5 act-6";
        margin-bottom: 15rem;

    }

    .bloc3 {
        margin: 1rem;
    }

    .act-bloc {
        max-height: 14rem;
        width: 100%;
    }

    
    .footer-bloc-assistance {
        margin-right: 5%;
    }

    .pop-room {
        width: 40%;
        min-width: 40%;
    }
}
    
@media screen and (max-width:600px) {
    .header {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "logo signup"
        "navbar navbar";
    }
    
    .logo {
        margin-left: 1rem;
    }

    .signup {
        display: flex;
        justify-content: flex-end;
    }

    .title-h1 {
        margin-left: 1rem;
        font-size: 1.43rem;
    }

    
    .subtitle {
        margin-left: 1rem;
    }

    .navlink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 0.6rem;
        margin-top: -2rem;
        width: 100%;
    }

    .navlink:hover[data-active=true]{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .navlink:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .research-box {
        position: relative;
        width: 86%;
    }

    .searchinput {
        width: 80%;
    }
    
    #button-research {
        display: none;
    }

    #icon-research {
        display: block;
        position: absolute;
        right: -1rem;
        border-radius: 15px;
        width: 3rem;
    }
    
    .filter-ul {
        margin-left: 1rem;
    }

    .filter-button {
        padding: 0 0.75rem 0 0;
        margin-left: 0.3rem;
        font-size: 0.9rem;
    }


    .accomodations {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(6, 1fr) ;
    }

    .bloc1 {
        background-color: white;
        padding: 0 1rem 0 1rem;
    }


    .bloc2 {
        border-radius: 0px;
        padding: 0 1rem 0 1rem;
    }

    .pop-acc .text .title-acco {
        margin: 0.5rem 0 0 0;
    }
    
    .pop-acc .text .bloc-price {
        margin: -2rem 0 0 0;
    }
    
    .pop-acc .text .stars {
        margin: 0 0 0.5rem 0;
    }


    .activities {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "act-1"
        "act-2"
        "act-3"
        "act-4"
        "act-5"
        "act-6";
        margin-bottom: 63rem;
    }

    
    .menu-légal {
        display: flex;
        flex-direction: column;
    }

    
    .footer-bloc {
        padding-left: 0.5rem;
        padding-right: 0;
    }

    .h3-footer {
        margin-bottom: 1.5rem;
    }
}

