body { font-family: 'Raleway', sans-serif;
    margin: 0;
}

a { text-decoration: none;
    color: inherit;
}

/*HEADER NAVBAR*/
.header {
    align-items: center;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . navbar signup"
}

.navbar {
    display: flex;
    grid-area: navbar;
}

#logo {
    grid-area: logo;
}

.navlink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.3s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.navlink[data-active=true]{
    color: #0065FC;
    border-top: 3px solid #0065FC;
  }
.navlink:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC
}

.signup {
    color: #0065FC;
    font-weight: bold;
    grid-area: signup;
    padding: 2rem;
}
/*HEADER NAVBAR*/


/*SEARCH BAR*/
.main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.fa-map-marker-alt {
        background-color: #F2F2F2;
        padding: 1rem 1.25rem;
        border-radius: 1rem 0 0 1rem;
        text-align: center;
}

.searchinput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 0.063rem solid;
    border-bottom: #F2F2F2 0.063rem solid;
    padding: 0.9rem 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

.searchinput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: black;
}

.button-research {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

.title-h3 {
    display: inline;
}

.filter-ul {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 1rem;   
}

.filter-button {
    display: inline;
    margin-left: 1.563rem;
    font-weight: 700;
    border: 0.125rem #e2e2e2 solid;
    padding: 0 1.25rem 0 0;
    margin-top: 0.625rem;
    border-radius: 12.5rem;
}

.icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 1.125rem;
    border-radius: 2rem;
    margin-right: 0.938rem;
}

.filter-button:hover{
    transform: scale(1.05);
    background-color: #F2F2F2;
    cursor: pointer;
}

.fa-info {
    color: #0065fc;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: solid 1px #D9D9D9;
    border-radius: 1rem;
    margin-right: 1.3rem;
}

.info p {
    display: inline;
}
/*SEARCH BAR*/



/* Partie hébergement */


    /*IMAGES*/
.acco-img img {
    width: 100%;
    height: 7rem;
    border-radius: 1.3rem 1.3rem 0 0;
    object-fit: cover;
}

.acco-img {
    width: 250px;
    height: 100px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}

.pop-room img {
    width: 100%;
    height: 8rem;
    border-radius: 1.3rem 0rem 0 1.3rem;
    object-fit: cover;
}

.pop-room {
    width: 100px;
    height: 140px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}
    /*IMAGES*/


    /*Etoiles*/
.stars {
    display: flex;
}

.fullstar {
    color: #0065FC;
}

.emptystar {
    color: #D9D9D9;
}
    /*Etoiles*/


    /*Accomodations Bloc*/
.blocs-hébergements {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    column-gap: 30px;
    margin: 40px 0 60px 0;   
}


.bloc-accomodations {
    background: #F2F2F2;
    border-radius: 25px;
    
}

.bloc1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 1.3rem;
    
}

.title-h2-bloc1 {
    display: block;
    width: 100%;
    padding-left: 30px;
    padding-top: 15px;
}

.accomodations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.7rem;
    padding: 0 0 0 0;
}

.acco {
    background: white;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;   
    border-radius: 20px;
    border: 0.5em solid transparent;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.acco:hover {
    transform: scale(1.03);
}

.title-h3-bloc1 {
    display: block;
    width: 100%;
    margin-left: 3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
}

.bloc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-bloc{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 0.6rem;
    height: 90%;
    width: 90%;
}

.title-h2-bloc2 h2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.pop-acc {
    display: flex;
    margin: 1rem;
    background-color: white;
    border-radius: 1.3rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    box-shadow: 0px 0px 0.5rem 0px #0000002e;
}

.pop-acc:hover {
    transform: scale(1.03);
}

.pop-acc .text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.pop-acc .text .title-acco {
    padding: 0rem 0;
    margin: 0;
}

.pop-acc .bloc-price {
    margin-top: -3rem;
}
    /*Accomodations Bloc*/
/*Partie Hébergement*/



    /*Activity Bloc*/


.activities {
    height: 550px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 30px;
    grid-template-areas:
    "act-1 act-2 act-4 act-5"
    "act-1 act-2 act-4 act-5"
    "act-1 act-2 act-4 act-6"
    "act-1 act-2 act-4 act-6"
    "act-1 act-3 act-4 act-6"
    "act-1 act-3 act-4 act-6"
    ;
}

.activities .act-bloc {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
}

.activity {
    height: 100%;
    margin: 0;
}

.act-bloc:hover{
    transform: scale(1.03);
}
.act-bloc img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.title-acti {
    position: absolute;
    width: 95%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 20px 0 20px 5%;
    margin: 0;
    bottom: 0;
}

#act-1 {
    grid-area: act-1;
}

#act-2 {
    grid-area: act-2;
}

#act-3 {
    grid-area: act-3;
}

#act-4 {
    grid-area: act-4;
}

#act-5 {
    grid-area: act-5;
}

#act-6 {
    grid-area: act-6;
}


.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-légal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.footer-bloc {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.h3-footer {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-link {
    margin-bottom: 10px;
}

.footer-bloc-assistance {
    margin-right: 22%;
}